# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
.vercel/
app/core/__pycache__/config.cpython-314.pyc
app/core/__pycache__/config.cpython-314.pyc
app/services/__pycache__/database_service.cpython-314.pyc
app/services/__pycache__/llm_service.cpython-314.pyc
